################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/NewGit12Oct/v17
/DotNetCore/Custom-Middleware-Test-12/.vs
/DotNetCore/Custom-Middleware-Test-12/Custom-Middleware-Test-12/bin/Debug/net8.0
/DotNetCore/Custom-Middleware-Test-12/Custom-Middleware-Test-12/obj
/DotNetCore/Custom-Middleware-Test-12/Custom-Middleware-Test-12/Custom-Middleware-Test-12.csproj.user
/WebAPI-RateLimit/.vs/WebAPI-RateLimit/FileContentIndex
/WebAPI-RateLimit/WebAPI-RateLimit/obj/Debug/net8.0
/WebAPI-RateLimit/WebAPI-RateLimit/obj
